@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <div class="row">
       <div class="col-sm-6">
           <h1 class="display-4">Welcome to RPMovies</h1>
           <p class="display-6">Movies for rent online or movies to view in the theatre</p>
           <p class="display-6">In Theatre showtimes avalible:</p>
           <p style="font-size:inherit.5em">Monday-Sunday: 8-10am, 1-3pm, and 3-5pm</p>
       </div>
       <div class="col-sm-6">
           <img src="images/images.jpg"
       </div>
   </div>
</div>
